* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    image-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

:root {
    --black: #131313;
    --medium-gray: #141414;
    --white: #fff;
    --gray1: #f1f3f5;
    --orange: #ff8177;
    --red: #ff0844;
    --yellow: #ffb199;
    --blue: #4837ff;
    --purple: #b721ff;
    --cyan: #21d4fd;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    /* background-color: var(--medium-gray); */
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.navbar {
    font-family: "Mukta", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    font-size: 1.2rem;
    background-color: var(--black);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-color: var(--orange);
    background-image: linear-gradient(to top, var(--red) 0%, var(--yellow) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 1rem;
    color: var(--red);
}

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar-items {
    height: 80px;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
    color: var(--white);
}

.navbar-links:hover {
    color: var(--orange);
    transition: all 0.3s ease;
}

.navbar-btn {
    font-family: "Mukta", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: var(--orange);
    color: var(--white);
    outline: none;
}

.navbar-btn:hover {
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
    filter: brightness(0.9);
}

.main {
    background-color: var(--medium-gray);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--medium-gray);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content h1 {
    font-size: 4rem;
    background-color: var(--orange);
    background-image: linear-gradient(to top, var(--red) 0%, var(--yellow) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content h2 {
    font-size: 4rem;
    background-color: var(--orange);
    background-image: linear-gradient(to top, var(--purple) 0%, var(--cyan) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.main-btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, var(--red) 0%, var(--yellow) 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    margin-top: 2rem;
    font-family: "Poppins", sans-serif;
    position: relative;
    font-weight: 700px;
}

.main-btn:hover {
    background-image: linear-gradient(to top, var(--purple) 0%, var(--cyan) 100%);
    transition: all 0.5s ease-in-out;
    filter: brightness(0.9);
}

.hero-container {
    margin-top: 2rem;
    text-align: center;
}

#main-img {
    height: 77%;
    width: 77%;
}

.services {
    background-color: var(--medium-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: var(--orange);
    background-image: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: wrap;
}

.services-card1 {
    position: relative;
    color: var(--white);
    margin: 1rem;
    width: 525px;
    height: 525px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url("./assets/pic3.jpg");
    background-size: cover;
}

.services-card2 {
    position: relative;
    color: var(--white);
    margin: 1rem;
    width: 525px;
    height: 525px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%),
        url("./assets/pic4.jpg");
    background-size: cover;
}

.services-card1 h2,
.services-card2 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services-card1 p,
.services-card2 p {
    position: absolute;
    top: 400px;
    left: 30px;
}
.card-btn {
    position: absolute;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--red);
    top: 440px;
    left: 30px;
    font-size: 1rem;
}

.card-btn:hover {
    filter: brightness(0.9);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    background: var(--medium-gray);
}

#footer-logo {
    display: flex;
    font-weight: 700;
    font-size: 1.3rem;
    align-items: center;
    margin-right: 2rem;
    color: var(--white);
}

#brand-logo {
    color: var(--gray1);
}

.footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.footer-wrapper {
    display: flex;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-items h2 {
    margin-bottom: 1rem;
}

.footer-items > h2 {
    color: var(--white);
}

.footer-items a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--gray1);
}

.footer-items a:hover {
    color: var(--white);
    filter: brightness(0.9);
    transition: all 0.2 ease-in;
}

.social-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-icon-links {
    color: var(--white);
    font-size: 1.2rem;
}

.social-icon-links:hover {
    color: var(--gray1);
    transition: all 0.2 ease-in-out;
}

.website-right {
    color: var(--white);
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        background-color: var(--black);
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar-menu.active {
        background: var(--black);
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar-logo {
        padding-left: 25px;
    }
    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
    }
    .navbar-items {
        width: 100%;
    }
    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar-btn {
        width: 80%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        height: 90vh;
        margin: 0 auto;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 3rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }

    .services-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
    }

    .services-card1 {
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services-card1,
    .services-card2 {
        width: 300px;
    }
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    #footer-logo {
        margin-bottom: 2rem;
    }

    .website-right {
        margin-bottom: 2rem;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .social-media-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
